@font-face {
  font-family: DIN Next TR Regular;
  src: url(/fonts/DINNextLTPro-Regular.woff) format('woff'), url(/fonts/DINNextLTPro-Regular.woff2) format('woff2');
}

@font-face {
  font-family: DIN Next TR Medium;
  src: url(/fonts/DINNextLTPro-Medium.woff) format('woff'), url(/fonts/DINNextLTPro-Medium.woff2) format('woff2');
}

@font-face {
  font-family: DIN Next TR Bold;
  src: url(/fonts/DINNextLTPro-Bold.woff) format('woff'), url(/fonts/DINNextLTPro-Bold.woff2) format('woff2');
}

:root {
  --font-regular: DIN Next TR Regular, -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  --font-medium: DIN Next TR Medium, -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  --font-bold: DIN Next TR Bold, -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;

  --color-background1: #121212;
  --color-background2: rgba(248, 250, 253, 0.1);
  --color-background3: rgba(248, 250, 253, 0.2);
  --color-background4: rgba(248, 250, 253, 0.28);
  --color-background5: rgba(248, 250, 253, 0.36);
  --color-background6: rgba(248, 250, 253, 0.36);
  --color-foreground1: rgba(248, 250, 253, 0.48);
  --color-foreground2: rgba(248, 250, 253, 0.56);
  --color-foreground3: white;
  --color-foreground4: black;

  --color-text-primary: rgba(255, 255, 255, 1);
  --color-text-primary-disabled: rgba(255, 255, 255, 0.4);
  --color-text-secondary: rgba(255, 255, 255, 0.6);

  --color-text-dark-primary: #15151A;

  --color-primary-purple1: rgba(187, 134, 252, 0.5);
  --color-primary-purple2: rgba(187, 134, 252, 0.6);
  --color-primary-purple3: rgba(187, 134, 252, 0.8);
  --color-primary-purple4: rgba(187, 134, 252, 1);
  --color-secondary-purple1: rgba(187, 134, 252, 0.3);
  --color-secondary-purple2: rgba(187, 134, 252, 0.35);
  --color-secondary-purple3: rgba(187, 134, 252, 0.4);

  --color-primary-gray1: rgba(92, 92, 92, 0.5);
  --color-primary-gray2: rgba(92, 92, 92, 0.6);
  --color-primary-gray3: rgba(92, 92, 92, 0.8);
  --color-primary-gray4: rgba(92, 92, 92, 1);
  --color-secondary-gray1: rgba(92, 92, 92, 0.3);
  --color-secondary-gray2: rgba(92, 92, 92, 0.35);
  --color-secondary-gray3: rgba(92, 92, 92, 0.4);

  --max-width: 640px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-background1);
  color: var(--color-text-primary);
}

h1 {
  font-weight: 600;
  font-size: 47px;
  line-height: 57px;
  margin: 0 0 16px;
}

p {
  margin: 0;
  line-height: 24px;
}
